<%= render "shared/header1" %>

<div class= 'main'>
  <div class= 'team_main'>
  <h1 class= 'main_header'>edit Team</h1>
  <%= form_with model: [@company,@team], class: 'form', local: true do |f| %>
    <div class='member_select'>
      <%= collection_check_boxes(:team,:member_ids, @company.members, :id, :member_name ) do |member| %>
        <%= member.label { member.check_box + member.text } %>
      <% end %>
    </div>
    <%= f.submit '編集', class: 'form-submit' %>
    <%= link_to 'Back', company_team_path(@company,@team.id), class: 'btn'%>
  <% end %>
</div>
    <div class= 'plan_main'>
      <h1 class= 'main_header'>Plan List</h1>
      <table >
        <thead>
          <tr>
            <th >plan_name</th>
            <th >start_date</th>
            <th >last_date</th>
            <th >limit_date</th>
            <th >status</th>
          </tr>
        </thead>
   
        <tbody>
          <tr>
            <td>埼玉</td>
            <td>埼玉</td>
            <td>埼玉</td>
            <td>埼玉</td>
            <td>埼玉</td>
          </tr>
          <tr>
            <td>東京</td>
          </tr>
          <tr>
            <td>神奈川</td>
          </tr>
          <tr>
            <td>千葉</td>
          </tr>
          <tr>
            <td>群馬</td>
          </tr>
          <tr>
            <td>栃木</td>
          </tr>
          <tr>
            <td>沖縄</td>
          </tr>
          <tr>
            <td>大阪</td>
          </tr>
          <tr>
            <td>埼玉</td>
          </tr>
          <tr>
            <td>東京</td>
          </tr>
          <tr>
            <td>神奈川</td>
          </tr>
          <tr>
            <td>千葉</td>
          </tr>
          <tr>
            <td>群馬</td>
          </tr>
          <tr>
            <td>栃木</td>
          </tr>
          <tr>
            <td>沖縄</td>
          </tr>
          <tr>
            <td>大阪</td>
          </tr>
          <tr>
            <td>埼玉</td>
          </tr>
          <tr>
            <td>東京</td>
          </tr>
          <tr>
            <td>神奈川</td>
          </tr>
          <tr>
            <td>千葉</td>
          </tr>
          <tr>
            <td>群馬</td>
          </tr>
          <tr>
            <td>栃木</td>
          </tr>
          <tr>
            <td>沖縄</td>
          </tr>
          <tr>
            <td>大阪</td>
          </tr>
        </tbody>
      </table>
      <%= link_to '+Plan', '/', class: 'btn'%>
    </div>
  </div>
</div>