<h1>会社名：<%= @company.company_name %></h1>
  <%= form_for(:company, {controller: 'companies', action: "companies_with_password/#{@company}" }) do |f| %>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit 'GO', class: 'form-submit' %>
    <%= link_to 'Back', root_path, class: 'btn'%>
  <% end %>